@CHARSET "UTF-8";
@font-face { font-family: 'NotoSansCJKkr-Bold'; src: url('font/NotoSansCJKkr-Bold-Alphabetic.eot'); }
@font-face { font-family: 'NotoSansCJKkr-Regular'; src: url('font/NotoSansCJKkr-Regular-Alphabetic.eot'); }
@font-face { font-family: 'NotoSansCJKkr-Medium'; src: url('font/NotoSansCJKkr-Medium-Alphabetic.eot') ; }

/* font-family: arial, "Times New Roman", sans; */


html, body { height: 100%; margin: 0; padding: 0; } 
/* #head {position: relative; z-index: 1; }  */
.page { min-height: 86%; } 
.fullpage{ min-height: 86%; } 
* html .page { height: 100%; } 
/***********headerBar************/
.headerBar{background: #F5C21C;position:fixed;z-index:20;width:100%;min-width:1080px;height:45px;top:0;}
.headerBar ul li{list-style:none;float:left; }
.headerBar a{text-decoration:none;color:#23282D;cursor: pointer;}

.mainLogo{width:200px; height:45px;background-color:#fff;float:left; }
.mainLogo img{width:200px; height:45px; }

.navi{max-width:400px;float:left;padding:13px 20px;font-size:14px;color:#fff;}
.navi img{width:13px;height:16px; }
.peopleBox{max-width:300px;/* border:1px solid blue; */float:right;padding: 13px 20px;font-size:14px;color:#fff;font-family:'NotoSansCJKkr-Medium';}
.peopleBox img{width:18px;height:18px; }
.peopleBox a{text-decoration:none;color:#fff;}
.peopleBox ul li{width: 150px; text-align: center;}
.peopleBox .sub-menu li{padding:10px 0px;}
.peopleBox .sub-menu button{cursor:pointer;}
/***********mainMenu************/
.mainSideLeft{margin-top:45px; width:200px;height:100%;float:left;position: fixed;background-color:#22A5B9;z-index:2;top:0;}
.menu-hidden { 	-webkit-transition: all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition: all .4s ease-in-out;	transition: all .4s ease-in-out;width:0px;overflow: hidden;}
.menu-visi {width:200px;}
.mainSideLogo{display:block;font-size:40px;	margin:20px 10px 40px 10px;	color:#19B9A1;}
.mainSideAdmin{	border:1px solid #eee;height:100px;}

#mainMenu {
  position: relative;
  margin: 0;
  font-family: 'NotoSansCJKkr-Medium';
  line-height: 1;
  width: 200px;
}
#mainMenu img{width:13px; height:16px;margin-right:11px;}
.align-right {
  float: right;
}
#mainMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#mainMenu ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
#mainMenu ul li a {
  text-decoration: none;
  cursor: pointer;
  font-family:'NotoSansCJKkr-Medium';
}
#mainMenu > ul > li > a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 16px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: relative;
}
#mainMenu > ul > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#mainMenu > ul > li:last-child > a {
 
}
#mainMenu > ul > li:hover > a,
#mainMenu > ul > li.open > a,
#mainMenu > ul > li.active > a {
  background: transparent;
  color: #ffffff;
}

#mainMenu ul > li.has-sub::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  z-index: 2;
  right: 20px;
  top: 24.5px;
  pointer-events: none;
}
#mainMenu ul > li:hover::after,
#mainMenu ul > li.active::after,
#mainMenu ul > li.open::after {
  border-top-color: #ffffff;
}
#mainMenu ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
#mainMenu ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}
#mainMenu ul ul {
  display: none;
}
#mainMenu ul ul li {
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
}
#mainMenu ul ul li a {
  background: #0993A7;
  display: block;
  position: relative;
  font-size: 15px;
  padding: 14px 20px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
#mainMenu ul ul li:first-child > a {
  padding-top: 18px;
}
#mainMenu ul ul li > a{
	padding-left: 42px;
}
#mainMenu ul ul ul li {
  border: 0;
}
#mainMenu ul ul ul li:hover > a,
#mainMenu ul ul ul li.open > a,
#mainMenu ul ul li.open > a,
#mainMenu ul ul li.active > a {
	clear:both;
  background: #EABB26 !important;
  color: #fff;
}
#mainMenu ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
#mainMenu ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
#mainMenu ul ul ul li a {
  padding-left: 57px;
}
#mainMenu ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #fff;
}
#mainMenu ul ul > li:hover::after,
#mainMenu ul ul > li.active::after,
#mainMenu ul ul > li.open::after {
/*   border-top-color: #666666; */
}