@CHARSET "UTF-8";

/***********************************************승하차 일지******************************************************************************/
.medication_diaryList_Content{float: left;}

.OnoffList_contentLeft{width:250px; height:650px; float:left;border:1px solid #c2c1c1; border-radius:4px;}

.OnoffList_contentLeft{overflow:auto;}
.OnoffList_contentLeft table{width:100%;border-spacing:0;}
.OnoffList_contentLeft table th{padding:7px;border-bottom: 1px solid #c2c1c1; font-size: 13px;background-color: #22A5B9;color:#fff;font-weight: normal;}
.OnoffList_contentLeft table th span{font-size: 13px;}
.OnoffList_contentLeft table td{ text-align:left; padding:5px; font-size: 13px;border-bottom: 1px solid #c2c1c1;}
.OnoffList_contentLeft table td span.spanBtn{cursor:pointer; padding: 5px 8px;border:1px solid #aaa; border-radius:5px;font-size: 14px;}
.OnoffList_contentLeft table tr.active{background-color:#F5C21C !important;}
.OnoffList_contentLeft table tr:not(:first-child):hover{background-color:#F5C21C !important;} /*여기서 마우스 올리면 색변환 */


.OnoffList_contentRight{float:left;margin-left: 7px;width: 780px; }
#OnoffList_contentRight_Content{width: 780px; border:1px solid #c2c1c1; border-radius:4px;float:left; overflow:hidden;}
.OnoffList_contentRight_Content_table{width:100%;border-spacing:0;text-align:center}
.OnoffList_contentRight_Content_table th{text-align:center;padding:7px;font-size: 13px; font-weight: normal;background-color: #f1f1f1;}
.OnoffList_contentRight_Content_table th span{font-size: 13px;}
.OnoffList_contentRight_Content_table td{padding:7px; font-size: 13px;border-bottom: 1px solid #c2c1c1;}
.OnoffList_onoff_date{text-align: left; background-color:#F5C21C;color:#fff;}

.OnoffList_onoff_name{text-align: left;background-color:#F5C21C;color:#fff; }
/* :not(#OnoffList_onoff_date_filter) */

#OnoffList_date{width: 203px; height: 25px;border:1px solid #c2c1c1; border-radius:4px;}
.downImgBtn{width: 90px;height: 25px; cursor:pointer;float: right;}
.OnoffList_date_div{float:left; width: 100%;margin-bottom: 7px;}

.OnoffList_contentRight_Content_table_Content{height:586px; overflow-x:hidden; overflow-y:auto;}
#OnoffList_contentRight_Content_table_title{border-spacing: 0; border-collapse: collapse;width: 100%;}
#OnoffList_contentRight_Content_table_title th{text-align:center;padding:7px;font-size: 13px; font-weight: normal;background-color: #f1f1f1;}
/* .OnoffList_contentRight_Content_table_Content tr:LAST-CHILD td{border-bottom: 0;} */
.OnoffList_kid_pho{border:1px solid #c2c1c1; border-radius:50%;overflow: hidden;margin-right: 7px;vertical-align: middle;width: 32px;height: 32px;}


.OnoffList_Content{}

.busRouteUpdate {}
.toggleWrapper{}
.busRouteUpdate .toggleWrapper input{clear:both; position: absolute;	left: -99em;}
.busRouteUpdate .toggleWrapper .toggle{clear:both; cursor: pointer;display: inline-block;	position: relative;	width: 75px;height: 34px;background:#C2C1C1; border-radius: 5px;	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);}
.busRouteUpdate .toggleWrapper .toggle:before, .toggle:after{clear:both; position: absolute;	line-height: 34px;font-size: 13px;z-index: 2;	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);}
.busRouteUpdate .toggleWrapper .toggle:before{clear:both; content: "OFF";	left: 15px;	color: #C2C1C1;}
.busRouteUpdate .toggleWrapper .toggle:after{clear:both; content: "ON";right: 15px;color: #fff;}
.busRouteUpdate .toggleWrapper .toggle__handler{clear:both; display: inline-block;position: relative;	z-index: 1;background: #fff;width: 44px;height: 28px;border-radius: 3px;top: 3px;left: -16px;-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);-webkit-transform: translateX(0px);	transform: translateX(0px);}
.busRouteUpdate .toggleleft6 input:checked + .toggle .toggle__handler{clear:both; left:0px !important;}
.busRouteUpdate .toggleleft6 .toggle .toggle__handler{clear:both; left:-12px !important;}
.busRouteUpdate .toggleWrapper input:checked + .toggle{clear:both; 	background: #22A5B9;}
.busRouteUpdate .toggleWrapper input:checked + .toggle:before{clear:both; color: #fff;}
.busRouteUpdate .toggleWrapper input:checked + .toggle:after{clear:both; color: #22A5B9;}
.busRouteUpdate .toggleWrapper input:checked + .toggle .toggle__handler{clear:both; width: 40px; -webkit-transform: translateX(32px); transform: translateX(32px); border-color: #fff;}


/* 추가 부분  */
.AttendanceList_contentRight{float: left;margin-left: 7px;width: 780px;}
.AttendanceList_contentRight_Content{width: 780px;border: 1px solid #c2c1c1;border-radius: 4px;float: left;overflow: auto;height: 607px;padding: 5px;}

.routeList_img{display: inline-block;width: 30px;}
.routeList_text{display: inline-block;vertical-align: top;}
